$(".customer_address").val("<%= @customer.try(:address) %>");
$(".customer_contact").val("<%= @customer.try(:cellphone) %>");
$("#delivery_order_id").html("<option value=''>Select Order</option><%= j options_from_collection_for_select(@orders, :id, :order_select_value) %>");