/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

#login-wraper {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 60%;
  left: 50%;
  display: block;
  margin-top: -159px;
  margin-left: -235px;
  padding: 25px;
  width: 480px;
  height: 320px;
  background: white;
  text-align: center;
  opacity: 0.9;
}
user agent stylesheetdiv {
  display: block;
}
.login-form legend {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #333333;
  -webkit-font-smoothing: subpixel-antialiased;
}
#login-wraper h1 {
  text-align: center;
  font-weight: 700;
  margin: 5px 0 15px;
}
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
.height{
	height: 500px;
}
#login-wraper .formSubmit {
  margin-bottom: 25px;
}
.alert{
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 16px;
  top: 27%;
}
.login{
  position: absolute;
  width: 100%;
  height: 80%;
}
.font-white{
  color: #fff;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-color: #000;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  width: 100%;
}
.background{
  background: url('building.jpg');
  background-size: cover;
  /*background-color: #e3d0b1;*/
}
.footer p{
  margin-top: 15px;
}
.navbar-inner{
  border:0;
  background: transparent url('banner.png') no-repeat center center;
  background-size:cover;
  height: 100px;
  margin: 0 6%;
}
.table{
  background-color: #fff;
}
.banner-style{
  width: 100%;
  height: 120px;
}
.margin-top-25{
  margin-top: 25px;
}
.blue-link{
  color:#07c !important;
}
/** Side Bar **/
.bs-docs-sidenav {
  max-width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}
.calendar_select{
  width:15%;
  margin-top:-1.8%
}
.accordion-hover {
  a:hover{
    background: none;
  }
  a{
    text-decoration: none;
  }
}
table.dashboard tr:hover {
  cursor: pointer;
}
.datepicker-icon{
  margin-left: 16%;
  cursor: pointer
}
.pad-bottom5{
padding-bottom: 5px;
}
.pad-0{
  padding: 0px;
}
.alert_invalid_email {
  color: Red;
}
.alert_danger {
  border-color: #E96666;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233,102,101,0.6);
}
.inline{
  display: inline;
  padding-left: 15px;
}

.hide{
display: none;
}

.pull-right{
  float: right;
}

.pull-left{
  float: left
}

.nav-header{
  height: 50px;
}

.api_formation{
  display: flex;
  width: 100%;
}

.api_formation .left_side {
  width: 48%;
  float: left;
  border: 1px #ccc solid;
  margin: 0 5% 0 0;
  padding: 10px;
  height: 400px;
  overflow: auto;
}

.api_formation .right-side {
  width: 48%;
  float: left;
  border: 1px #ccc solid;
  height: 400px;
  padding: 10px;
  position: relative;
}

.right-side .api-response{
  overflow: auto;
  height: 400px;
  padding: 1px;
  width: 100%;
}

.clear-response{
  right: 1px;
  position: absolute;
}

.Salon-details{
  display: inline-block;
}

.field.row_json textarea{
  width: 100%;
  height: 160px;
}

.overlay{
  position: absolute;
  width: 98%;
  height: 400px;
  opacity: 0.82;
  background-color: highlighttext;
  display: none;
}
.overlay .loader{
  margin: 20% 35%;
}
