%header#header
  .headerbar
    .headerbar-left
      %ul.header-nav.header-nav-options
        %li.header-nav-brand
          .brand-holder
            %a{:href => root_path }
              %span.text-lg.text-bold.text-primary Produce Management System
        %li
          %a.btn.btn-icon-toggle.menubar-toggle{"data-toggle" => "menubar", :href => "javascript:void(0);"}
            %i.fa.fa-bars
    .headerbar-right
      %ul.header-nav.header-nav-profile
        - if current_user
          %li.dropdown
            %a.dropdown-toggle.ink-reaction{"data-toggle" => "dropdown", :href => "javascript:void(0);"}
              %img{:alt => "", :src => image_path('avatar1.jpg')}
                %span.profile-info
                  Admin
                  %small Administrator
            %ul.dropdown-menu.animation-dock
              %li
                %a{"data-method" => "DELETE", :href => "/users/sign_out", :rel => "nofollow", :title => "Logout"}
                  %i.fa.fa-fw.fa-power-off.text-danger
                  Logout
        - else
          = link_to "Login", "/users/sign_in"
